---
import ShowNIM from '../components/ShowNIM.svelte';
import Herosection from '../components/HeroSection.svelte';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TukangCS</title>
  </head>
  <body>
    <!-- <h1 style="text-align: center;">Selamat datang di web kami 👋</h1>

    <ShowNIM name="DIFA DLYAUL HAQ" nim="22.61.0234" />
    <ShowNIM name="BONAVENTURA ISAAC GURIC" nim="22.61.0241" /> -->
    <Herosection />
  </body>
</html>
